.loginPage {
    background: url('./igdtuw_cover.jpg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url('./igdtuw_cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}
.loginForm {
    background-color: rgba(211,211,211 , 0.3);
    color: white;
}

.custom-bg-green {
    background-color: rgb(53, 130, 53);
    /* Set your desired green color */
}

ul li :hover {
    background-color: rgb(36, 113, 36);
}

.employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.emp_det_image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.custom-blue {
  background-color: rgb(31, 31, 176) !important;
  color: white !important; /* For better readability */
}